/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #f4f4f4;
}

/* ===== HEADER GERAL ===== */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 53px;
  background: white;
}

.terms{
  font-size: 16px;
  text-decoration: none;
  align-items: center;
}

.menu{
  align-items: center;
}

.terms a:hover  {
  color: black;
}

.cadastroLeft{
  display: flex;
  align-items: center;
  position: relative;
  left: 68%;  
}
.header-cadastro {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Logos */
header img,
header img {
  justify-content: start;
  height: 45px;
}

.logoImage{
  justify-self: start;
}

/* Navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #6a00f4;
}

/* Ícone de usuário */
.user-icon-cadastro {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  /* left: 10px; */
}

/* ===== PÁGINA LOGIN ===== */
main{
  display: flex;
  min-height: calc(100vh - 150px);
}

.left-side {
  flex: 7;
  background: url("assets/img/pageImage.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  z-index: 2;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.teste{
  display: flex;
  align-items: center;
}

.hero-content h1 {
  font-family: 'Marko One';
  font-size: 75px;
  margin: 0;
}

.hero-content img {
  width: 137px;
  height: 100px;
}

.hero-content p {
  font-family: 'Marko One';
  font-size: 32px;
  margin-top: -10px;
}

.right-side {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.signup {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.signup h2{
  padding: 3px;
}
.signup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup input,
.signup button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.signup button {
  background: black;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup button:hover {
  background: #333;
}

/* ===== PÁGINA CADASTRO AÇÕES ===== */
.main-cadastro {
  min-height: calc(100vh - 60px - 120px);
  background: url('assets/img/pageImage.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card-cadastro {
  background-color: rgba(0, 0, 0, 0.9);
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label-cadastro {
  color: #fff;
  font-size: 1rem;
}

.form-card-cadastro input[type='text'],
.form-card-cadastro input[type='file'] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
  background-color: #fff;
  color: #000;
}

.toggle-group-cadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.95rem;
}

.btn-pronto-cadastro {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #000, #6a00f4);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* ===== PAGINA DE ABERTURA ===== */
.aboutUs {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutUs h2 {
  padding: 3px;
}

.aboutUs p {
  text-align: justify;
}


/* ===== FOOTERS ===== */
footer {
  background: black;
  color: white;
  padding: 25px 40px;
  text-align: center;
}

.footer-cadastro {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.contact,
.contact-cadastro {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contact input,
.contact-cadastro input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact button,
.contact-cadastro button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  color: black;
}

.copy-container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.copy-container p {
  margin: 0;
  color: black;
}

/* Componentes reutilizáveis */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(to right, #6a00f4, #ad00f4);
}

input:checked + .slider:before {
  transform: translateX(22px);
}